#grad1 {
    background-image: linear-gradient(to right, #00064c, #000000);
}

.navbar-toggler-icon {
    background-image: url('../img/hamburger.png');
}

button:focus:not(:focus-visible) {
    outline: none;
    box-shadow: none;
}

.navbar-nav .nav-link {
    color: white !important;
    font-weight: bolder;
    font-size: 20px;
}

.navbar-nav .nav-item {
    padding-right: 50px;
}

@media (max-width: 991.98px) {
    .navbar-nav .nav-item {
        border-top: 2px solid #fff;
    }

}


.navbar-brand2 {
    padding-left: 50px;
}

.video-wrapper {
    width: 100%;
    height: 650px;
    position: relative;
    overflow: hidden;
}

video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.home_row1 {
    margin-top: 30px;
    margin-bottom: 40px;

}

.home_row1 .background_1 {
    position: relative;
    text-align: right;
}

.home_row1 .background_1 img {
    height: 250px;
}

.centered {
    position: absolute;
    top: 42%;
    left: 60%;
    color: white;
    font-weight: bolder;
    font-size: 30px;
}



.home_row1 .col-lg-3,
.home_row4 .col-md-6 {
    padding-right: 0px
}

.home_row2 .col-md-6 {
    padding-left: 0px
}

/* .home_row1 .col- {
    padding-right: 0px
} */

/* .home_row1 .col-lg-9 {
    padding-right: 0px
} */

.home_row1 .col-lg-6 {
    text-align: center;
}

.home_row1 h1 {
    padding-top: 50px;
    color: red;
}

.home_row2 {
    /* text-align: right; */
}

.home_row2 h1 {
    padding-top: 100px;
    font-weight: bolder;
}

.home_row3 {
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
}

.home_row3 h3 {
    padding-top: 300px;
    padding-bottom: 50px;
}

.home_row3 .icons_1 img {
    height: 100px;
    padding-left: 30px;
}

.home_row4 {
    /* text-align: center; */
}

.purle_col {
    position: relative;
}

.purle_col img {
    padding-top: 30px;
    padding-bottom: 30px;
}

.pur_btn {
    position: absolute;
    top: 75%;
    left: 35%;
    color: white;
    font-weight: bolder;
    font-size: 30px;
}

.home_row4 h3 {
    padding-top: 150px;
}

.footer {
    background-image: url('../img/footer.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-weight: bolder;
    font-size: 20px;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer p {
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer_links {
    display: flex;
    list-style: none;
    padding-top: 40px;
    justify-content: flex-end;
}

.footer_links li {
    padding-right: 20px;
}

.home_row6 {
    padding-top: 200px;
}

.home_row6 .footer_logo {
    width: 200px;
}

.home_row6 .footer_icons {
    text-align: right;
    padding: 20px;
}

.home_row6 .footer_icons img {
    padding-right: 30px;
    text-align: right;
    width: 80px;
    padding-top: 20px;
}

.hr1 {
    border: 3px solid #6bcbff;
}

/* Slider */
.slider {
    height: 300px;
    margin: 30px auto;
}

.slider ul {}

.slider ul li {
    border: 1px solid #fff;
    /* box-shadow: 5px 10px grey; */
}

.slider ul li img {
    border-radius: 15px;
}

.left,
.right {
    cursor: pointer;
}








@media (min-width: 1441px) and (max-width: 1920px) {
    .centered {
        top: 40%;
        left: 80%;
    }

    .pur_btn {
        top: 46%;
        left: 18%;
    }


}

@media (min-width: 1025px) and (max-width: 1440px) {
    .centered {
        top: 40%;
        left: 72%;
    }

    .pur_btn {
        top: 59%;
        left: 25%;
    }
}


@media only screen and (max-width: 768px) {
    .centered {
        top: 36%;
        left: 72%;
    }

    .purle_col img {
        width: 350px;
    }

    .pur_btn {
        top: 71%;
        left: 24%;
        font-size: 25px;
    }

    .home_row2 h2 {
        font-size: 20px;
    }

    .home_row3 h3 {
        padding-top: 150px;
        padding-bottom: 20px;
        font-size: 20px;
    }

    .home_row3 .icons_1 img {
        height: 50px;
    }

    .home_row4 h3 {
        padding-top: 100px;
        font-size: 20px;
    }

    .home_row4 h2 {
        font-size: 20px;
    }
}

@media (max-width: 425px) {
    .navbar-brand .logo {
        width: 80px;
    }

    .pur_btn {
        top: 63%;
        left: 22%;
    }

    .home_row1 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .home_row2 h1 {
        padding-top: 20px;
    }

    .home_row3 h3 {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .home_row4 h3 {
        padding-top: 10px;
    }

    .footer_links {
        padding-top: 0px;
    }
}

@media (max-width: 425px) {
    .pur_btn {
        top: 64%;
        left: 25%;
    }

}