@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/DimaExpo.ttf')
}

@font-face {
    font-family: 'CustomFont2';
    src: url('../fonts/BAUHS93.ttf')
}

body {
    font-family: 'CustomFont';
}

.logo_text {
    font-family: 'CustomFont2';
}

#grad1 {
    background-image: linear-gradient(to right, #00064c, #000000);
}

.navbar-toggler-icon {
    background-image: url('../img/hamburger.png');
}

button:focus:not(:focus-visible) {
    outline: none;
    box-shadow: none;
}

.navbar-nav .nav-link {
    color: white !important;
    font-weight: bolder;
    font-size: 20px;
}

.navbar-nav .nav-item {
    padding-right: 50px;
}

@media (max-width: 991.98px) {
    .navbar-nav .nav-item {
        border-top: 2px solid #fff;
    }

}


.navbar-brand2 {
    padding-left: 50px;
}

.video-wrapper {
    width: 100%;
    height: 650px;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 50% 50%;

}

video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.home_row1 {
    margin-top: 30px;
    margin-bottom: 40px;
    align-items: center;

}

.home_row1 .background_1 {
    position: relative;
    text-align: right;
}

.home_row1 .background_1 img {
    height: 250px;
}

.centered {
    position: absolute;
    top: 42%;
    left: 60%;
    color: white;
    font-weight: bolder;
    font-size: 30px;
}



.home_row1 .col-lg-3,
.home_row4 .col-md-6,
.home_row5 .col-lg-12 {
    padding-right: 0px
}

.home_row2 .col-md-6 {
    padding-left: 0px
}

.home_row1 .col-lg-6 {
    text-align: center;
}

.home_row1 h1 {
    color: red;
    font-weight: bolder;
}

.home_row2 {
    align-items: center;
}

.home_row2 h1 {
    font-weight: bolder;
    padding-bottom: 30px;
}

.home_row2 h4 {
    font-size: xx-large;
}

.home_row2 .text_1 {
    text-align: right;
}

.home_row3 {
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
    align-items: center;
}

.home_row3 h3 {
    /* padding-top: 300px; */
    padding-bottom: 50px;
}

.home_row3 .icons_1 img {
    height: 100px;
    padding-left: 30px;
}

.home_row4 {
    align-items: center;
    padding-bottom: 50px;
    background-image: url('../img/doted_background.png');
    background-repeat: no-repeat;
    background-position-y: bottom;
}

.purle_col {
    position: relative;
    text-align: right;
}

.purle_col img {
    padding-top: 30px;
    padding-bottom: 30px;
}

.pur_btn {
    position: absolute;
    top: 66%;
    left: 35%;
    color: white;
    font-weight: bolder;
    font-size: 30px;
}

.home_row4 h3 {
    padding-bottom: 30px;
}

.home_row5 {
    margin-top: 30px;
    background-image: url('../img/dotted_eyes.png');
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: right;

}

.home_row5 .col-lg-12 {
    background-image: url('../img/doted_background.png');
    background-repeat: no-repeat;
    background-position-y: bottom;

}

.home_row5 .green_col {
    position: relative;
    text-align: right;
    padding-top: 80px;
}

.green_btn {
    position: absolute;
    top: 55%;
    left: 60%;
    color: white;
    font-weight: bolder;
    font-size: 30px;
}

.footer {
    background-image: url('../img/footer.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-weight: bolder;
    font-size: 20px;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer p {
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer_links {
    display: flex;
    list-style: none;
    padding-top: 40px;
    justify-content: flex-end;
}

.footer_links li {
    padding-right: 20px;
}

.home_row6 {
    padding-top: 180px;
}

.home_row6 .footer_logo {
    width: 200px;
}

.home_row6 .footer_icons {
    text-align: right;
    padding: 20px;
}

.home_row6 .footer_icons img {
    padding-right: 30px;
    text-align: right;
    width: 80px;
    padding-top: 20px;
}

.hr1 {
    border: 3px solid #6bcbff;
}

.home_row8 {
    margin-top: 30px;
    margin-bottom: -100px;
}

.home_row8 h1 {
    color: black;
}

/* Slider */
.slider {
    height: 300px;
    margin: 30px auto;
}



.slider ul li img {
    border: 1px solid #fff;

}

.slider ul li img {
    border-radius: 15px;
}

.left,
.right {
    cursor: pointer;
}




.form-group {
    display: flex;
    margin-bottom: 20px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 5px;
    padding-right: 30px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.form-group .icon {
    position: absolute;
    top: 7px;
    right: 7px;
    width: 16px;
    height: 16px;
    background-color: blue;
    border-radius: 50%;
}

.form-group textarea {
    height: auto;
    resize: vertical;
}


.contact-section {
    background-color: #3ea1ff;
    padding: 100px 100px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 15px 15px grey;
    scale: 0.6;
}

.contact-section .form-group input {
    height: 100px;
}

.contact-section .form-group input::placeholder,
.contact-section .form-group textarea::placeholder {
    text-align: right;
}

.contact-section .form-group .form-icon {
    flex: 0 0 auto;
    align-self: self-start;
}

.contact-section .form-group input:focus {
    outline: 0;
}

.contact-section .form-group textarea:focus {
    outline: 0;
}

.contact-section .form-group img {
    width: 80px;
    background-color: #0085fe;
    padding: 10px;
}

.contact-section .contact-submit {
    background-color: #0086fe;
    color: #fff;
    border: none;
    padding: 30px 100px;
}


/* Games */

.games_row1 {
    position: relative;
    text-align: right;
    margin-top: 30px;
    margin-bottom: 40px;
}

.games_row1 .col-lg-12 {
    padding-right: 0px;
}


.games_text1 {
    position: absolute;
    top: 5%;
    left: 81%;
    color: white;
    font-weight: bolder;
    font-size: 50px;
}

.games_row2 div p {
    font-size: 25px;
    text-align: right;
    padding: 0px 10%;
}


/* Add animations */
.image {
    text-align: center;
    transition: transform 0.3s ease;
}

.image img {
    width: 70%;
    padding-top: 40px;
}

.image img:hover {
    transform: scale(1.1);
}


/* Story */

.story_row1 {
    background-image: url('../img/story2.png');
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    height: 100vh;
    align-items: center;
}

.story_row1 .col-lg-12 {
    text-align: right;
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
}

.story_text1 {
    position: absolute;
    top: 5%;
    left: 81%;
    color: white;
    font-weight: bolder;
    font-size: 50px;
}

.story_row2 {
    margin-top: 10%;
}

.story_row2 img {
    width: 90%;
}

.story_row2 .col-lg-12 {
    padding-right: 0px;
    text-align: right;
    position: relative;
}

.story_text2 {
    padding-right: 50px;
    padding-left: 150px;
    position: absolute;
    top: 8%;
    color: white;
    font-size: 22px;
}



/* Careers */

.career_hero img {
    width: 100%;
    max-width: 100%;
}

.career_row1 {
    position: relative;
    z-index: 9999;
    margin-top: -20%;
    float: right;
    border-radius: 10px;
    text-align: right;
    font-size: 30px;

    /* margin-left: 200px;
    margin-right: 200px;
    position: absolute;
    top: 78%; */
    padding-top: 20px;
    padding-bottom: 20px;
    color: black;
    background-color: #f1f1f1;
    border-radius: 20px;
}

.career_row1 {
    background-color: #f1f1f1;
    padding-left: 20px;
    padding-right: 20px;
}

.career_form_row {
    background-image: url('../img/doted_background.png');
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: left;
    margin-top: 5%;
}

.career_form .form-row {
    display: flex;
}

.career_form .form-row input {
    padding: 20px;
    margin-right: 20px;
}

.career_form .form-row select {
    padding: 0px;
    margin-bottom: 50px;
    margin-right: 20px;
}

.career_form .form-row textarea {
    padding: 20px;
}

.career_form .form-row input,
textarea {
    margin-bottom: 50px;
}

.career_form .form-row input::placeholder,
.career_form .form-row textarea::placeholder,
.career_form .form-row option::placeholder,
.career_form .form-row textarea::placeholder {
    text-align: right;
}


.form-buttons-row {
    align-items: self-start;
}

.form-buttons-col {
    display: inline-grid;
}

.career_button {
    background-color: #0086fe;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}


/* 8ball */

.img-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 0 0 50% 50%;
    padding-left: 0px;
    padding-right: 0px;
}

.img-wrapper img {
    width: 100%;
}

.ball_row1 {
    position: relative;
    text-align: right;
    margin-top: 30px;
    margin-bottom: 40px;
}

.ball_row1 .col-lg-6 {
    padding-right: 0px;
}

.ball_text1 {
    position: absolute;
    top: 15%;
    left: 61%;
    color: black;
    font-weight: bolder;
    font-size: 42px;
}

.ball_row2 {
    background-image: url('../img/8ball_bg.png');
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: left;
    margin-bottom: 5%;
}

.ball_row2 .col-lg-3 {
    text-align: center;
}

.ball_row2 .col-lg-9 {
    text-align: right;
    font-size: 30px;
}

.ball_row2 a {
    padding-left: 3%;
}

.ball_row3 {
    background-image: url('../img/8ball_bg.png');
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: right;
}

.ball_row4 .col-md-7 {
    text-align: right;
    font-size: 20px;
}

.ball_row4 .col-md-5 img {
    padding-top: 10%;
}

.ball_row4 .col-md-7 img,
.ball_row6 .col-md-4 img {
    width: 16%;
}

.ball_row5 {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

.ball_row5 p,
.ball_row6 p {
    font-size: 20px;
    text-align: right;
}

.ball_row6 {
    background-image: url('../img/8ball_bg.png');
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: center;
    margin-top: 5%;
    margin-bottom: 5%;
    align-items: center;
}

.ball_row6 .col-md-4 {
    padding-right: 0px;
    text-align: right;
}

.col_bg {
    background-image: url(../img/8ball_sec5_bg.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: contain;
}

.ball_row6 .col-md-4 p {
    padding-right: 15px;
}

.ball_row7 {
    align-items: center;
}

.ball_row7 .col-md-8 img {
    padding-top: 10%;
}

.ball_row8 {
    position: relative;
}

.ball_row8 img {
    width: 100%;
}

.ball_row8_text {
    position: absolute;
    top: 30%;
    left: 37%;
    color: black;
    font-weight: bolder;
    font-size: 25px;
}

.ball_row9 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.ball_row9 .col-lg-3 {
    padding-left: 0px;
    margin-bottom: 0px;
}

@media (min-width: 1441px) and (max-width: 1920px) {
    .centered {
        top: 40%;
        left: 80%;
    }

    .pur_btn {
        top: 65%;
        left: 58%;
    }

    .green_btn {
        left: 80%;
    }


    /* Games */

    .games_text1 {
        left: 88%;
        font-size: 60px;
    }


    /* Story */

    .story_text1 {
        left: 88%;
        font-size: 60px;
    }

    .story_text2 {
        font-size: 40px;
        padding-left: 250px;
    }

    /* 8ball */

    .ball_text1 {
        top: 10%;
        left: 76%;
        font-size: 45px;
    }

    .ball_row8_text {
        left: 38%;
        font-size: 45px;
    }

}

@media (min-width: 1025px) and (max-width: 1440px) {
    .centered {
        top: 40%;
        left: 72%;
    }

    .pur_btn {
        top: 65%;
        left: 45%;
    }

    .green_btn {
        left: 73%;
    }

    /* Games */

    .games_text1 {
        left: 84%;
        font-size: 60px;
    }

    /* Story */

    .story_text1 {
        left: 85%;
    }


    .story_text2 {
        padding-left: 250px;
        top: 10%;
        font-size: 30px;
    }

    /* 8ball */

    .ball_text1 {
        top: 10%;
        left: 68%;
        font-size: 45px;
    }

    .ball_row4 .col-md-7 {
        text-align: right;
        font-size: 30px;
    }

    .ball_row4 .col-md-5 img {
        padding-top: 20%;
    }

    .ball_row5 p {
        font-size: 30px;
    }

    .ball_row5 p,
    .ball_row6 p {
        font-size: 25px;
    }

    .ball_row8_text {
        left: 38%;
        font-size: 35px;
    }
}



@media only screen and (max-width: 768px) {

    .games_row2 div p {
        font-size: 20px;
        text-align: right;
        padding: 0px 5%;
    }

    .centered {
        top: 36%;
        left: 72%;
    }

    .purle_col img {
        width: 350px;
    }

    .pur_btn {
        top: 65%;
        left: 30%;
        font-size: 25px;
    }

    .green_col img {
        width: 350px;
    }

    .green_btn {
        top: 60%;
        left: 61%;
        font-size: 25px;
    }

    .home_row2 h2 {
        font-size: 20px;
    }

    .home_row1 h4,
    .home_row2 h4 {
        font-size: medium;
    }

    .home_row3 h3 {
        padding-bottom: 20px;
        font-size: 20px;
    }

    .home_row3 .icons_1 img {
        height: 50px;
    }

    .home_row4 h3 {
        font-size: 20px;
    }

    .home_row4 h2 {
        font-size: 20px;
    }

    /* Games */

    .games_row1 img {
        width: 200px;
    }

    .games_text1 {
        left: 83%;
        font-size: 35px;
    }

    /* Story */
    .story_row1 img {
        width: 250px;
    }

    .story_text1 {
        top: 0%;
        left: 78%;
        font-size: 40px;
    }

    .story_text2 {
        font-size: 17px;
    }

    .video-wrapper {
        border-radius: 0 0 20% 20% !important;
    }

    /* 8ball */

    .img-wrapper {
        border-radius: 0 0 20% 20% !important;
    }

    .ball_row1 img {
        width: 300px;
    }

    .ball_text1 {
        top: 12%;
        left: 67%;
        font-size: 25px;
    }

    .ball_row2 .col-md-9 {
        text-align: right;
        font-size: 20px;
    }

    .ball_row4 .col-md-7 {
        font-size: 15px;
    }

    .ball_row4 .col-md-5 img {
        padding-top: 30%;
    }

    .ball_row5 p,
    .ball_row6 p {
        font-size: 15px;
    }

    .ball_row6 .col-md-4 img {
        width: 35%;
    }

    .ball_row9 .col-lg-3 img {
        width: 25%;
    }

    .ball_row8_text {
        left: 38%;
        font-size: 19px;
    }
}

@media (max-width: 425px) {
    .video-wrapper {
        border-radius: 0 0 0% 0% !important;
    }

    .games_row2 div p {
        font-size: 18px;
        text-align: right;
        padding: 0px 5%;
    }

    .navbar-brand .logo {
        width: 80px;
    }

    .pur_btn {
        top: 64%;
        left: 36%;
    }

    .green_btn {
        left: 30%;
    }

    .home_row1 {
        margin-top: 0px;
        margin-bottom: 0px;
    }



    .home_row3 h3 {
        padding-bottom: 20px;
    }


    .footer_links {
        padding-top: 0px;
    }

    .contact-section {
        padding: 50px 20px;
        margin: auto;
        border-radius: 15px;
        box-shadow: 15px 15px grey;
        scale: 0.6;
    }

    .home_row8 .col-md-4 {
        text-align: right;
        padding-right: 90px;
    }

    /* Games */

    .games_text1 {
        left: 70%;
    }

    /* Story */

    .story_row1 img {
        width: 150px;
    }

    .story_text1 {
        top: 0%;
        left: 75%;
        font-size: 25px;
    }

    .story_text2 {
        padding-left: 50px;
        font-size: 8px;
    }

    /* 8balls */

    .ball_text1 {
        top: 74%;
        left: 40%;
    }

    .ball_row2 .col-lg-3 {
        text-align: right;
    }

    .ball_row2 .col-lg-9 img {
        width: 150px;
    }

    .ball_row4 .col-md-7 {
        padding-top: 5%;
    }

    .ball_row4 .col-md-5 img {
        padding-top: 10%;
    }

    .ball_row6 .col-md-8 img {
        padding-top: 10%;
    }

    .ball_row6 .col-md-4 {
        padding-top: 5%;
    }

    .ball_row6 .col-md-4 img {
        width: 10%;
    }

    .ball_row7 .col-md-8 img {
        padding-top: 20%;
    }

    .ball_row8_text {
        left: 38%;
        font-size: 10px;
    }
}




@media (max-width: 375px) {

    .pur_btn {
        top: 67%;
        left: 25%;
    }

    .green_btn {
        left: 15%;
    }

    /* Games */

    .games_text1 {
        left: 65%;
    }

    /* 8balls */

    .ball_text1 {
        left: 32%;
    }

    .ball_row8_text {
        left: 35%;
    }

}