@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/DimaExpo.ttf')
}

body {
    font-family: 'CustomFont', sans-serif;
}

#grad1 {
    background-image: linear-gradient(to right, #00064c, #000000);
}

.navbar-toggler-icon {
    background-image: url('../img/hamburger.png');
}

button:focus:not(:focus-visible) {
    outline: none;
    box-shadow: none;
}

.navbar-nav .nav-link {
    color: white !important;
    font-weight: bolder;
    font-size: 20px;
}

.navbar-nav .nav-item {
    padding-right: 50px;
}

@media (max-width: 991.98px) {
    .navbar-nav .nav-item {
        border-top: 2px solid #fff;
    }

}


.navbar-brand2 {
    padding-left: 50px;
}

.video-wrapper {
    width: 100%;
    height: 650px;
    position: relative;
    overflow: hidden;
}

video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.home_row1 {
    margin-top: 30px;
    margin-bottom: 40px;
    align-items: center;

}

.home_row1 .background_1 {
    position: relative;
    text-align: right;
}

.home_row1 .background_1 img {
    height: 250px;
}

.centered {
    position: absolute;
    top: 42%;
    left: 60%;
    color: white;
    font-weight: bolder;
    font-size: 30px;
}



.home_row1 .col-lg-3,
.home_row4 .col-md-6,
.home_row5 .col-lg-12 {
    padding-right: 0px
}

.home_row2 .col-md-6 {
    padding-left: 0px
}

/* .home_row1 .col- {
    padding-right: 0px
} */

/* .home_row1 .col-lg-9 {
    padding-right: 0px
} */

.home_row1 .col-lg-6 {
    text-align: center;
}

.home_row1 h1 {
    /* padding-top: 50px; */
    color: red;
    font-weight: bolder;
}

.home_row2 {
    align-items: center;
}

.home_row2 h1 {
    /* padding-top: 100px; */
    font-weight: bolder;
    padding-bottom: 30px;
}

.home_row2 h4 {
    font-size: xx-large;
}

.home_row2 .text_1 {
    text-align: right;
}

.home_row3 {
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
    align-items: center;
}

.home_row3 h3 {
    /* padding-top: 300px; */
    padding-bottom: 50px;
}

.home_row3 .icons_1 img {
    height: 100px;
    padding-left: 30px;
}

.home_row4 {
    align-items: center;
    padding-bottom: 50px;
    background-image: url('../img/doted_background.png');
    background-repeat: no-repeat;
    background-position-y: bottom;
}

.purle_col {
    position: relative;
    text-align: right;
}

.purle_col img {
    padding-top: 30px;
    padding-bottom: 30px;
}

.pur_btn {
    position: absolute;
    top: 66%;
    left: 35%;
    color: white;
    font-weight: bolder;
    font-size: 30px;
}

.home_row4 h3 {
    /* padding-top: 150px; */
    padding-bottom: 30px;
}

.home_row5 {
    margin-top: 30px;
    background-image: url('../img/dotted_eyes.png');
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: right;

}

.home_row5 .col-lg-12 {
    background-image: url('../img/doted_background.png');
    background-repeat: no-repeat;
    background-position-y: bottom;

}

.home_row5 .green_col {
    position: relative;
    text-align: right;
    padding-top: 80px;
}

.green_btn {
    position: absolute;
    top: 55%;
    left: 60%;
    color: white;
    font-weight: bolder;
    font-size: 30px;
}

.footer {
    background-image: url('../img/footer.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-weight: bolder;
    font-size: 20px;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer p {
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer_links {
    display: flex;
    list-style: none;
    padding-top: 40px;
    justify-content: flex-end;
}

.footer_links li {
    padding-right: 20px;
}

.home_row6 {
    padding-top: 180px;
}

.home_row6 .footer_logo {
    width: 200px;
}

.home_row6 .footer_icons {
    text-align: right;
    padding: 20px;
}

.home_row6 .footer_icons img {
    padding-right: 30px;
    text-align: right;
    width: 80px;
    padding-top: 20px;
}

.hr1 {
    border: 3px solid #6bcbff;
}

.home_row8 {
    margin-top: 30px;
    margin-bottom: -100px;
}

.home_row8 h1 {
    color: black;
}

/* Slider */
.slider {
    height: 300px;
    margin: 30px auto;
}



.slider ul li {
    border: 1px solid #fff;

}

.slider ul li img {
    border-radius: 15px;
}

.left,
.right {
    cursor: pointer;
}




.form-group {
    display: flex;
    margin-bottom: 20px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 5px;
    padding-right: 30px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.form-group .icon {
    position: absolute;
    top: 7px;
    right: 7px;
    width: 16px;
    height: 16px;
    background-color: blue;
    border-radius: 50%;
}

.form-group textarea {
    height: auto;
    resize: vertical;
}


.contact-section {
    background-color: #3ea1ff;
    padding: 100px 100px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 15px 15px grey;
    scale: 0.6;
}

.contact-section .form-group input {
    height: 100px;
}

.contact-section .form-group input::placeholder,
.contact-section .form-group textarea::placeholder {
    text-align: right;
}

.contact-section .form-group .form-icon {
    flex: 0 0 auto;
    align-self: self-start;
}

.contact-section .form-group input:focus {
    outline: 0;
}

.contact-section .form-group textarea:focus {
    outline: 0;
}

.contact-section .form-group img {
    width: 80px;
    background-color: #0085fe;
    padding: 10px;
}

.contact-section .contact-submit {
    background-color: #0086fe;
    color: #fff;
    border: none;
    padding: 30px 100px;
}


/* Games */

.games_row1 {
    position: relative;
    text-align: right;
    margin-top: 30px;
    margin-bottom: 40px;
}

.games_row1 .col-lg-12 {
    padding-right: 0px;
}


.games_text1 {
    position: absolute;
    top: 5%;
    left: 81%;
    color: white;
    font-weight: bolder;
    font-size: 50px;
}






/* .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image {
    width: 32%;
    padding: 20px;
    box-sizing: border-box;
}

.image img {
    width: 80%;
    height: auto;
    display: block;
} */

/* Add animations */
.image {
    text-align: center;
    transition: transform 0.3s ease;
}

.image img {
    width: 70%;
    padding-top: 40px;
}

.image img:hover {
    transform: scale(1.1);
}


/* Story */

.story_row1 {
    background-image: url('../img/story2.png');
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    height: 100vh;
    align-items: center;
}

.story_row1 .col-lg-12 {
    text-align: right;
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
}

.story_text1 {
    position: absolute;
    top: 5%;
    left: 81%;
    color: white;
    font-weight: bolder;
    font-size: 50px;
}

.story_row2 {
    margin-top: 20px;
}

.story_row2 img {
    width: 90%;
}

.story_row2 .col-lg-12 {
    padding-right: 0px;
    text-align: right;
    position: relative;
}

.story_text2 {
    padding-right: 50px;
    padding-left: 150px;
    position: absolute;
    top: 8%;
    color: white;
    font-size: 22px;
}


@media (min-width: 1441px) and (max-width: 1920px) {
    .centered {
        top: 40%;
        left: 80%;
    }

    .pur_btn {
        top: 65%;
        left: 58%;
    }

    .green_btn {
        left: 80%;
    }


    /* Games */

    .games_text1 {
        left: 88%;
        font-size: 60px;
    }


    /* Story */

    .story_text1 {
        left: 88%;
        font-size: 60px;
    }

    .story_text2 {
        font-size: 40px;
        padding-left: 250px;
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    .centered {
        top: 40%;
        left: 72%;
    }

    .pur_btn {
        top: 65%;
        left: 45%;
    }

    .green_btn {
        left: 73%;
    }

    /* Games */

    .games_text1 {
        left: 84%;
        font-size: 60px;
    }

    /* Story */

    .story_text1 {
        left: 85%;
    }


    .story_text2 {
        padding-left: 250px;
        top: 10%;
        font-size: 30px;
    }


}


@media only screen and (max-width: 768px) {
    .centered {
        top: 36%;
        left: 72%;
    }

    .purle_col img {
        width: 350px;
    }

    .pur_btn {
        top: 65%;
        left: 30%;
        font-size: 25px;
    }

    .green_col img {
        width: 350px;
    }

    .green_btn {
        top: 60%;
        left: 61%;
        font-size: 25px;
    }

    .home_row2 h2 {
        font-size: 20px;
    }

    .home_row1 h4,
    .home_row2 h4 {
        font-size: medium;
    }

    .home_row3 h3 {
        /* padding-top: 150px; */
        padding-bottom: 20px;
        font-size: 20px;
    }

    .home_row3 .icons_1 img {
        height: 50px;
    }

    .home_row4 h3 {
        /* padding-top: 100px; */
        font-size: 20px;
    }

    .home_row4 h2 {
        font-size: 20px;
    }

    /* Games */

    .games_row1 img {
        width: 200px;
    }

    .games_text1 {
        left: 83%;
        font-size: 35px;
    }

    /* Story */
    .story_row1 img {
        width: 250px;
    }

    .story_text1 {
        top: 0%;
        left: 78%;
        font-size: 40px;
    }

    .story_text2 {
        font-size: 17px;
    }

}

@media (max-width: 425px) {

    .navbar-brand .logo {
        width: 80px;
    }

    .pur_btn {
        top: 64%;
        left: 36%;
    }

    .green_btn {
        left: 30%;
    }

    .home_row1 {
        margin-top: 0px;
        margin-bottom: 0px;
    }



    .home_row3 h3 {
        /* padding-top: 20px; */
        padding-bottom: 20px;
    }


    .footer_links {
        padding-top: 0px;
    }

    .contact-section {
        padding: 50px 20px;
        margin: auto;
        border-radius: 15px;
        box-shadow: 15px 15px grey;
        scale: 0.6;
    }

    .home_row8 .col-md-4 {
        text-align: right;
        padding-right: 90px;
    }

    /* Games */

    .games_text1 {
        left: 70%;
    }

    /* Story */

    .story_row1 img {
        width: 150px;
    }

    .story_text1 {
        top: 0%;
        left: 75%;
        font-size: 25px;
    }

    .story_text2 {
        padding-left: 50px;
        font-size: 9px;
    }

}




@media (max-width: 375px) {

    .pur_btn {
        top: 67%;
        left: 25%;
    }

    .green_btn {
        left: 15%;
    }

    /* Games */

    .games_text1 {
        left: 65%;
    }

    /* Story */


}